.notifications {
    margin-right: 16px;
    margin-top: 54px;
    overflow: hidden !important;
    position: absolute !important;
    /* height: 88px !important; */
}

.progressBar {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.noRecentTransactions {
    height: 88px
}

@keyframes pulse {
  0%{opacity:.5}100%{opacity:1}
}
.post {
    margin-bottom: 12px;
    padding: 16px 16px 42px;
    border-radius: 4px;
    width: 530px;
    height: 40px;
    margin: 10px auto 20px;
    background: #E1E9EE;
}
.width500 {
    width: 500px;
}
.width470 {
    width: 470px;
}
.width110 {
    width: 110px;
}
.width250 {
    width: 250px;
}

.line {
    height: 10px;
    margin: 10px 0;
}
.circle, .line,  .rect {
    background: #fff;
    -webkit-animation: pulse .65s infinite alternate;
    animation: pulse .65s infinite alternate;
}
.circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
}
.wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.height20 {
    height: 20px;
}

.noTransacationsMsg {
    text-align: center;
}