/* elementFundActions */

.modalHeaderActions {
  background-color: #054186;
  padding: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  /* background-color: rgb(232, 232, 232); */
}

.modalHeader {
  padding: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 2px;
  font-size: 16px !important;
}

.modalTitle {
  background-color: #e8e8e8;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.modalTitle small{
  font-size: 14px;
}

.dragoTitleContainer{
  padding-top: 16px;
}