
.title {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px; */
}

.help {
  position: absolute;
  right: 0;
  top: 4px;
  opacity: 0.8;
}

.titleContainer {
  padding-bottom: 5px;
}
